@import "tailwindcss" theme(static);
@import "./search.css";
@import "./typography.css" layer(components);

@theme inline {
  --font-sans: var(--font-inter), system-ui;
  --font-source: var(--font-source-sans-pro), system-ui;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono: var(--font-plex-mono), monospace;
  --font-mono--font-feature-settings: "ss02", "zero";
  --font-ubuntu-mono: var(--font-ubuntu-mono);
}

@theme {
  --animate-flash-code: flash-code 2s forwards;

  /* This uses --color-sky-500 but it's inlined because of a bug in chrome */
  @keyframes flash-code {
    0% {
      background-color: oklch(0.685 0.169 237.323 / 10%);
    }

    100% {
      background-color: oklch(0.685 0.169 237.323 / 0%);
    }
  }
}

:root {
  color-scheme: light dark;
}
.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:where(.system, .system *) {
      @slot;
    }
  }
}

@variant not-dark {
  &:not(:where(.dark, .dark *)) {
    @media not (prefers-color-scheme: dark) {
      @slot;
    }

    &:not(:where(.system, .system *)) {
      @slot;
    }
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Line numbers for code examples */
.with-line-numbers {
  code {
    counter-reset: line;
    position: relative;
  }

  .line {
    counter-increment: line;
    margin-left: --spacing(9);

    @media (width <= theme(--breakpoint-sm)) {
      margin-left: 0;
    }

    &::before {
      position: absolute;
      left: 0;
      content: counter(line);
      width: --spacing(6);
      text-align: right;
      user-select: none;
      display: inline-block;
      color: color-mix(in oklab, var(--color-slate-50) 40%, transparent);
      font-family: theme(--font-mono);

      @media (width <= theme(--breakpoint-sm)) {
        display: none;
      }
    }
  }
}

@utility line-t {
  @apply relative before:absolute before:top-0 before:-left-[100vw] before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10;
}

@utility line-b {
  @apply relative after:absolute after:bottom-0 after:-left-[100vw] after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10;
}

@utility line-y {
  @apply relative;
  @apply before:absolute before:top-0 before:-left-[100vw] before:h-px before:w-[200vw] before:bg-gray-950/5 dark:before:bg-white/10;
  @apply after:absolute after:bottom-0 after:-left-[100vw] after:h-px after:w-[200vw] after:bg-gray-950/5 dark:after:bg-white/10;
}

@utility line-t/half {
  @apply relative before:absolute before:top-0 before:right-0 before:h-px before:w-screen before:bg-gray-950/5 dark:before:bg-white/10;
}

@utility line-b/half {
  @apply relative after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen after:bg-gray-950/5 dark:after:bg-white/10;
}

@utility line-y/half {
  @apply relative;
  @apply before:absolute before:top-0 before:right-0 before:h-px before:w-screen before:bg-gray-950/5 dark:before:bg-white/10;
  @apply after:absolute after:right-0 after:bottom-0 after:h-px after:w-screen after:bg-gray-950/5 dark:after:bg-white/10;
}
