.DocSearch--active {
  overflow: hidden !important;
}

.DocSearch-Container {
  position: fixed;
  top: calc(var(--spacing) * 0);
  left: calc(var(--spacing) * 0);
  z-index: 200;
  display: flex;
  height: 100vh;
  width: 100vw;
  cursor: auto;
  flex-direction: column;
  background-color: color-mix(in oklab, var(--color-black) 20%, transparent);
  padding: calc(var(--spacing) * 4);
  --tw-backdrop-blur: blur(var(--blur-sm));
  -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
    var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,)
    var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
  backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,)
    var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,)
    var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
  @media (width >= 40rem /* 640px */) {
    padding: calc(var(--spacing) * 6);
  }
  @media (width >= 48rem /* 768px */) {
    padding: 10vh;
  }
  @media (width >= 64rem /* 1024px */) {
    padding: 12vh;
  }

  .dark & {
    background-color: color-mix(in oklab, var(--color-gray-900) 80%, transparent);
  }

  @media (prefers-color-scheme: dark) {
    .system & {
      background-color: color-mix(in oklab, var(--color-gray-900) 80%, transparent);
    }
  }
}

.DocSearch-LoadingIndicator svg {
  display: none;
}

.DocSearch-VisuallyHiddenForAccessibility {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.DocSearch-LoadingIndicator {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none'%3E%3Ccircle cx='12' cy='12' r='9' stroke-width='2' stroke='%23cffafe' /%3E%3Cpath d='M3,12a9,9 0 1,0 18,0a9,9 0 1,0 -18,0' stroke-width='2' stroke='%2306b6d4' stroke-dasharray='56.5486677646' stroke-dashoffset='37.6991118431' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.DocSearch-Container--Stalled .DocSearch-LoadingIndicator {
  display: block;
}

.DocSearch-Modal {
  margin: 0 auto;
  width: 100%;
  max-width: 47.375rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  background: white;

  .dark & {
    background: var(--color-gray-800);
    box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 0.05);
  }

  @media (prefers-color-scheme: dark) {
    .system & {
      background: var(--color-gray-800);
      box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 0.05);
    }
  }
}

.DocSearch-SearchBar {
  z-index: 1;
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 1px;
  border-color: var(--color-gray-100);
  .dark & {
    border-color: color-mix(in oklab, var(--color-gray-200) 5%, transparent);
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      border-color: color-mix(in oklab, var(--color-gray-200) 5%, transparent);
    }
  }
}

.DocSearch-Form {
  @apply flex min-w-0 flex-auto items-center;
}

.DocSearch-Dropdown-Container {
  @apply pb-6;
}

.DocSearch-Dropdown {
  @apply flex-auto overflow-auto;
}

.DocSearch-Hit--Result {
  @apply relative mx-6;
}

.DocSearch-Hit--Result.DocSearch-Hit--Child {
  @apply ml-12;
}

.DocSearch-Hit--Result.DocSearch-Hit--Child {
  &::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -1rem;
    width: 1px;
    background: var(--color-gray-200);
  }

  .dark &::before {
    background: color-mix(in oklab, var(--color-gray-200) 20%, transparent);
  }
  @media (prefers-color-scheme: dark) {
    .system &::before {
      background: color-mix(in oklab, var(--color-gray-200) 20%, transparent);
    }
  }
}

.DocSearch-Hit > a {
  position: relative;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--color-gray-100);

  @apply dark:border-gray-200/5;
}

.DocSearch-Hit--Result {
  border-bottom-width: 0px !important;
}

.DocSearch-MagnifierLabel {
  height: --spacing(4);
  width: --spacing(4);
  flex: none;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='m19 19-3.5-3.5' stroke='rgba(0, 0, 0, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle vector-effect='non-scaling-stroke' cx='11' cy='11' r='6' stroke='rgba(0, 0, 0, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='m19 19-3.5-3.5' stroke='rgba(255, 255, 255, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle vector-effect='non-scaling-stroke' cx='11' cy='11' r='6' stroke='rgba(255, 255, 255, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath vector-effect='non-scaling-stroke' d='m19 19-3.5-3.5' stroke='rgba(255, 255, 255, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Ccircle vector-effect='non-scaling-stroke' cx='11' cy='11' r='6' stroke='rgba(255, 255, 255, 0.5)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-MagnifierLabel svg {
  display: none;
}

.DocSearch-Container--Stalled .DocSearch-MagnifierLabel {
  display: none;
}

.DocSearch-Input {
  appearance: none;
  background: transparent;
  height: 3.5rem;
  font-size: 1rem;
  color: var(--color-gray-900);
  margin-left: 0.75rem;
  margin-right: 1rem;
  flex: auto;
  min-width: 0;

  @apply dark:text-gray-200;
}

.DocSearch-Input {
  @variant sm {
    font-size: 0.875rem;
  }
}

.DocSearch-Input:focus {
  outline: 2px dotted transparent;
}

.DocSearch-Input::-webkit-search-cancel-button,
.DocSearch-Input::-webkit-search-decoration,
.DocSearch-Input::-webkit-search-results-button,
.DocSearch-Input::-webkit-search-results-decoration {
  display: none;
}

.DocSearch-Reset {
  display: none;
}

.DocSearch-Cancel {
  appearance: none;
  flex: none;
  font-size: 0;
  border-radius: 0.375rem;
  border: 1px solid var(--color-gray-200);
  width: 2rem;
  height: 1.5rem;
  /* esc */
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66477 16.1364C9.03409 16.1364 8.49006 15.9972 8.03267 15.7188C7.57812 15.4375 7.22727 15.0455 6.98011 14.5426C6.7358 14.0369 6.61364 13.4489 6.61364 12.7784C6.61364 12.108 6.7358 11.517 6.98011 11.0057C7.22727 10.4915 7.57102 10.0909 8.01136 9.80398C8.45455 9.5142 8.97159 9.36932 9.5625 9.36932C9.90341 9.36932 10.2401 9.42614 10.5724 9.53977C10.9048 9.65341 11.2074 9.83807 11.4801 10.0938C11.7528 10.3466 11.9702 10.6818 12.1321 11.0994C12.294 11.517 12.375 12.0312 12.375 12.642V13.0682H7.32955V12.1989H11.3523C11.3523 11.8295 11.2784 11.5 11.1307 11.2102C10.9858 10.9205 10.7784 10.6918 10.5085 10.5241C10.2415 10.3565 9.92614 10.2727 9.5625 10.2727C9.16193 10.2727 8.81534 10.3722 8.52273 10.571C8.23295 10.767 8.00994 11.0227 7.85369 11.3381C7.69744 11.6534 7.61932 11.9915 7.61932 12.3523V12.9318C7.61932 13.4261 7.70455 13.8452 7.875 14.1889C8.0483 14.5298 8.28835 14.7898 8.59517 14.9688C8.90199 15.1449 9.25852 15.233 9.66477 15.233C9.92898 15.233 10.1676 15.196 10.3807 15.1222C10.5966 15.0455 10.7827 14.9318 10.9389 14.7812C11.0952 14.6278 11.2159 14.4375 11.3011 14.2102L12.2727 14.483C12.1705 14.8125 11.9986 15.1023 11.7571 15.3523C11.5156 15.5994 11.2173 15.7926 10.8622 15.9318C10.5071 16.0682 10.108 16.1364 9.66477 16.1364ZM18.5412 10.9205L17.6378 11.1761C17.581 11.0256 17.4972 10.8793 17.3864 10.7372C17.2784 10.5923 17.1307 10.473 16.9432 10.3793C16.7557 10.2855 16.5156 10.2386 16.223 10.2386C15.8224 10.2386 15.4886 10.331 15.2216 10.5156C14.9574 10.6974 14.8253 10.929 14.8253 11.2102C14.8253 11.4602 14.9162 11.6577 15.098 11.8026C15.2798 11.9474 15.5639 12.0682 15.9503 12.1648L16.9219 12.4034C17.5071 12.5455 17.9432 12.7628 18.2301 13.0554C18.517 13.3452 18.6605 13.7187 18.6605 14.1761C18.6605 14.5511 18.5526 14.8864 18.3366 15.1818C18.1236 15.4773 17.8253 15.7102 17.4418 15.8807C17.0582 16.0511 16.6122 16.1364 16.1037 16.1364C15.4361 16.1364 14.8835 15.9915 14.446 15.7017C14.0085 15.4119 13.7315 14.9886 13.6151 14.4318L14.5696 14.1932C14.6605 14.5455 14.8324 14.8097 15.0852 14.9858C15.3409 15.1619 15.6747 15.25 16.0866 15.25C16.5554 15.25 16.9276 15.1506 17.2031 14.9517C17.4815 14.75 17.6207 14.5085 17.6207 14.2273C17.6207 14 17.5412 13.8097 17.3821 13.6562C17.223 13.5 16.9787 13.3835 16.6491 13.3068L15.5582 13.0511C14.9588 12.9091 14.5185 12.6889 14.2372 12.3906C13.9588 12.0895 13.8196 11.7131 13.8196 11.2614C13.8196 10.892 13.9233 10.5653 14.1307 10.2812C14.3409 9.99716 14.6264 9.77415 14.9872 9.61222C15.3509 9.45028 15.7628 9.36932 16.223 9.36932C16.8707 9.36932 17.3793 9.51136 17.7486 9.79545C18.1207 10.0795 18.3849 10.4545 18.5412 10.9205ZM22.8335 16.1364C22.2198 16.1364 21.6914 15.9915 21.2482 15.7017C20.805 15.4119 20.4641 15.0128 20.2255 14.5043C19.9869 13.9957 19.8675 13.4148 19.8675 12.7614C19.8675 12.0966 19.9897 11.5099 20.234 11.0014C20.4812 10.4901 20.8249 10.0909 21.2653 9.80398C21.7085 9.5142 22.2255 9.36932 22.8164 9.36932C23.2766 9.36932 23.6914 9.45455 24.0607 9.625C24.43 9.79545 24.7326 10.0341 24.9684 10.3409C25.2042 10.6477 25.3505 11.0057 25.4073 11.4148H24.4016C24.3249 11.1165 24.1545 10.8523 23.8903 10.6222C23.6289 10.3892 23.2766 10.2727 22.8335 10.2727C22.4414 10.2727 22.0977 10.375 21.8022 10.5795C21.5096 10.7812 21.2809 11.0668 21.1161 11.4361C20.9542 11.8026 20.8732 12.233 20.8732 12.7273C20.8732 13.233 20.9528 13.6733 21.1119 14.0483C21.2738 14.4233 21.5011 14.7145 21.7937 14.9219C22.0891 15.1293 22.4357 15.233 22.8335 15.233C23.0948 15.233 23.332 15.1875 23.5451 15.0966C23.7582 15.0057 23.9386 14.875 24.0863 14.7045C24.234 14.5341 24.3391 14.3295 24.4016 14.0909H25.4073C25.3505 14.4773 25.2099 14.8253 24.9854 15.1349C24.7638 15.4418 24.4698 15.6861 24.1033 15.8679C23.7397 16.0469 23.3164 16.1364 22.8335 16.1364Z' fill='black' fill-opacity='0.5' /%3E%3C/svg%3E ");
  background-position: center;
  background-repeat: no-repeat;

  .dark & {
    border: 1px solid var(--color-gray-700);
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66477 16.1364C9.03409 16.1364 8.49006 15.9972 8.03267 15.7188C7.57812 15.4375 7.22727 15.0455 6.98011 14.5426C6.7358 14.0369 6.61364 13.4489 6.61364 12.7784C6.61364 12.108 6.7358 11.517 6.98011 11.0057C7.22727 10.4915 7.57102 10.0909 8.01136 9.80398C8.45455 9.5142 8.97159 9.36932 9.5625 9.36932C9.90341 9.36932 10.2401 9.42614 10.5724 9.53977C10.9048 9.65341 11.2074 9.83807 11.4801 10.0938C11.7528 10.3466 11.9702 10.6818 12.1321 11.0994C12.294 11.517 12.375 12.0312 12.375 12.642V13.0682H7.32955V12.1989H11.3523C11.3523 11.8295 11.2784 11.5 11.1307 11.2102C10.9858 10.9205 10.7784 10.6918 10.5085 10.5241C10.2415 10.3565 9.92614 10.2727 9.5625 10.2727C9.16193 10.2727 8.81534 10.3722 8.52273 10.571C8.23295 10.767 8.00994 11.0227 7.85369 11.3381C7.69744 11.6534 7.61932 11.9915 7.61932 12.3523V12.9318C7.61932 13.4261 7.70455 13.8452 7.875 14.1889C8.0483 14.5298 8.28835 14.7898 8.59517 14.9688C8.90199 15.1449 9.25852 15.233 9.66477 15.233C9.92898 15.233 10.1676 15.196 10.3807 15.1222C10.5966 15.0455 10.7827 14.9318 10.9389 14.7812C11.0952 14.6278 11.2159 14.4375 11.3011 14.2102L12.2727 14.483C12.1705 14.8125 11.9986 15.1023 11.7571 15.3523C11.5156 15.5994 11.2173 15.7926 10.8622 15.9318C10.5071 16.0682 10.108 16.1364 9.66477 16.1364ZM18.5412 10.9205L17.6378 11.1761C17.581 11.0256 17.4972 10.8793 17.3864 10.7372C17.2784 10.5923 17.1307 10.473 16.9432 10.3793C16.7557 10.2855 16.5156 10.2386 16.223 10.2386C15.8224 10.2386 15.4886 10.331 15.2216 10.5156C14.9574 10.6974 14.8253 10.929 14.8253 11.2102C14.8253 11.4602 14.9162 11.6577 15.098 11.8026C15.2798 11.9474 15.5639 12.0682 15.9503 12.1648L16.9219 12.4034C17.5071 12.5455 17.9432 12.7628 18.2301 13.0554C18.517 13.3452 18.6605 13.7187 18.6605 14.1761C18.6605 14.5511 18.5526 14.8864 18.3366 15.1818C18.1236 15.4773 17.8253 15.7102 17.4418 15.8807C17.0582 16.0511 16.6122 16.1364 16.1037 16.1364C15.4361 16.1364 14.8835 15.9915 14.446 15.7017C14.0085 15.4119 13.7315 14.9886 13.6151 14.4318L14.5696 14.1932C14.6605 14.5455 14.8324 14.8097 15.0852 14.9858C15.3409 15.1619 15.6747 15.25 16.0866 15.25C16.5554 15.25 16.9276 15.1506 17.2031 14.9517C17.4815 14.75 17.6207 14.5085 17.6207 14.2273C17.6207 14 17.5412 13.8097 17.3821 13.6562C17.223 13.5 16.9787 13.3835 16.6491 13.3068L15.5582 13.0511C14.9588 12.9091 14.5185 12.6889 14.2372 12.3906C13.9588 12.0895 13.8196 11.7131 13.8196 11.2614C13.8196 10.892 13.9233 10.5653 14.1307 10.2812C14.3409 9.99716 14.6264 9.77415 14.9872 9.61222C15.3509 9.45028 15.7628 9.36932 16.223 9.36932C16.8707 9.36932 17.3793 9.51136 17.7486 9.79545C18.1207 10.0795 18.3849 10.4545 18.5412 10.9205ZM22.8335 16.1364C22.2198 16.1364 21.6914 15.9915 21.2482 15.7017C20.805 15.4119 20.4641 15.0128 20.2255 14.5043C19.9869 13.9957 19.8675 13.4148 19.8675 12.7614C19.8675 12.0966 19.9897 11.5099 20.234 11.0014C20.4812 10.4901 20.8249 10.0909 21.2653 9.80398C21.7085 9.5142 22.2255 9.36932 22.8164 9.36932C23.2766 9.36932 23.6914 9.45455 24.0607 9.625C24.43 9.79545 24.7326 10.0341 24.9684 10.3409C25.2042 10.6477 25.3505 11.0057 25.4073 11.4148H24.4016C24.3249 11.1165 24.1545 10.8523 23.8903 10.6222C23.6289 10.3892 23.2766 10.2727 22.8335 10.2727C22.4414 10.2727 22.0977 10.375 21.8022 10.5795C21.5096 10.7812 21.2809 11.0668 21.1161 11.4361C20.9542 11.8026 20.8732 12.233 20.8732 12.7273C20.8732 13.233 20.9528 13.6733 21.1119 14.0483C21.2738 14.4233 21.5011 14.7145 21.7937 14.9219C22.0891 15.1293 22.4357 15.233 22.8335 15.233C23.0948 15.233 23.332 15.1875 23.5451 15.0966C23.7582 15.0057 23.9386 14.875 24.0863 14.7045C24.234 14.5341 24.3391 14.3295 24.4016 14.0909H25.4073C25.3505 14.4773 25.2099 14.8253 24.9854 15.1349C24.7638 15.4418 24.4698 15.6861 24.1033 15.8679C23.7397 16.0469 23.3164 16.1364 22.8335 16.1364Z' fill='white' fill-opacity='0.75' /%3E%3C/svg%3E ");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      border: 1px solid var(--color-gray-700);
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.66477 16.1364C9.03409 16.1364 8.49006 15.9972 8.03267 15.7188C7.57812 15.4375 7.22727 15.0455 6.98011 14.5426C6.7358 14.0369 6.61364 13.4489 6.61364 12.7784C6.61364 12.108 6.7358 11.517 6.98011 11.0057C7.22727 10.4915 7.57102 10.0909 8.01136 9.80398C8.45455 9.5142 8.97159 9.36932 9.5625 9.36932C9.90341 9.36932 10.2401 9.42614 10.5724 9.53977C10.9048 9.65341 11.2074 9.83807 11.4801 10.0938C11.7528 10.3466 11.9702 10.6818 12.1321 11.0994C12.294 11.517 12.375 12.0312 12.375 12.642V13.0682H7.32955V12.1989H11.3523C11.3523 11.8295 11.2784 11.5 11.1307 11.2102C10.9858 10.9205 10.7784 10.6918 10.5085 10.5241C10.2415 10.3565 9.92614 10.2727 9.5625 10.2727C9.16193 10.2727 8.81534 10.3722 8.52273 10.571C8.23295 10.767 8.00994 11.0227 7.85369 11.3381C7.69744 11.6534 7.61932 11.9915 7.61932 12.3523V12.9318C7.61932 13.4261 7.70455 13.8452 7.875 14.1889C8.0483 14.5298 8.28835 14.7898 8.59517 14.9688C8.90199 15.1449 9.25852 15.233 9.66477 15.233C9.92898 15.233 10.1676 15.196 10.3807 15.1222C10.5966 15.0455 10.7827 14.9318 10.9389 14.7812C11.0952 14.6278 11.2159 14.4375 11.3011 14.2102L12.2727 14.483C12.1705 14.8125 11.9986 15.1023 11.7571 15.3523C11.5156 15.5994 11.2173 15.7926 10.8622 15.9318C10.5071 16.0682 10.108 16.1364 9.66477 16.1364ZM18.5412 10.9205L17.6378 11.1761C17.581 11.0256 17.4972 10.8793 17.3864 10.7372C17.2784 10.5923 17.1307 10.473 16.9432 10.3793C16.7557 10.2855 16.5156 10.2386 16.223 10.2386C15.8224 10.2386 15.4886 10.331 15.2216 10.5156C14.9574 10.6974 14.8253 10.929 14.8253 11.2102C14.8253 11.4602 14.9162 11.6577 15.098 11.8026C15.2798 11.9474 15.5639 12.0682 15.9503 12.1648L16.9219 12.4034C17.5071 12.5455 17.9432 12.7628 18.2301 13.0554C18.517 13.3452 18.6605 13.7187 18.6605 14.1761C18.6605 14.5511 18.5526 14.8864 18.3366 15.1818C18.1236 15.4773 17.8253 15.7102 17.4418 15.8807C17.0582 16.0511 16.6122 16.1364 16.1037 16.1364C15.4361 16.1364 14.8835 15.9915 14.446 15.7017C14.0085 15.4119 13.7315 14.9886 13.6151 14.4318L14.5696 14.1932C14.6605 14.5455 14.8324 14.8097 15.0852 14.9858C15.3409 15.1619 15.6747 15.25 16.0866 15.25C16.5554 15.25 16.9276 15.1506 17.2031 14.9517C17.4815 14.75 17.6207 14.5085 17.6207 14.2273C17.6207 14 17.5412 13.8097 17.3821 13.6562C17.223 13.5 16.9787 13.3835 16.6491 13.3068L15.5582 13.0511C14.9588 12.9091 14.5185 12.6889 14.2372 12.3906C13.9588 12.0895 13.8196 11.7131 13.8196 11.2614C13.8196 10.892 13.9233 10.5653 14.1307 10.2812C14.3409 9.99716 14.6264 9.77415 14.9872 9.61222C15.3509 9.45028 15.7628 9.36932 16.223 9.36932C16.8707 9.36932 17.3793 9.51136 17.7486 9.79545C18.1207 10.0795 18.3849 10.4545 18.5412 10.9205ZM22.8335 16.1364C22.2198 16.1364 21.6914 15.9915 21.2482 15.7017C20.805 15.4119 20.4641 15.0128 20.2255 14.5043C19.9869 13.9957 19.8675 13.4148 19.8675 12.7614C19.8675 12.0966 19.9897 11.5099 20.234 11.0014C20.4812 10.4901 20.8249 10.0909 21.2653 9.80398C21.7085 9.5142 22.2255 9.36932 22.8164 9.36932C23.2766 9.36932 23.6914 9.45455 24.0607 9.625C24.43 9.79545 24.7326 10.0341 24.9684 10.3409C25.2042 10.6477 25.3505 11.0057 25.4073 11.4148H24.4016C24.3249 11.1165 24.1545 10.8523 23.8903 10.6222C23.6289 10.3892 23.2766 10.2727 22.8335 10.2727C22.4414 10.2727 22.0977 10.375 21.8022 10.5795C21.5096 10.7812 21.2809 11.0668 21.1161 11.4361C20.9542 11.8026 20.8732 12.233 20.8732 12.7273C20.8732 13.233 20.9528 13.6733 21.1119 14.0483C21.2738 14.4233 21.5011 14.7145 21.7937 14.9219C22.0891 15.1293 22.4357 15.233 22.8335 15.233C23.0948 15.233 23.332 15.1875 23.5451 15.0966C23.7582 15.0057 23.9386 14.875 24.0863 14.7045C24.234 14.5341 24.3391 14.3295 24.4016 14.0909H25.4073C25.3505 14.4773 25.2099 14.8253 24.9854 15.1349C24.7638 15.4418 24.4698 15.6861 24.1033 15.8679C23.7397 16.0469 23.3164 16.1364 22.8335 16.1364Z' fill='white' fill-opacity='0.75' /%3E%3C/svg%3E ");
    }
  }
}

.DocSearch-Reset svg {
  display: none;
}

.DocSearch-Hit-source {
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-gray-900);
  padding-top: 2.5rem;
  margin: 0 1.5rem 1rem;

  .dark & {
    color: var(--color-gray-200);
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      color: var(--color-gray-200);
    }
  }
}

.DocSearch-Hits:first-child .DocSearch-Hit-source {
  padding-top: 1.5rem;
}

.DocSearch-Hit-Container {
  display: flex;
  align-items: center;
}

.DocSearch-Hit-Tree {
  display: none;
}

.DocSearch-Hit-icon {
  display: none;
}

.DocSearch-Hit--Result .DocSearch-Hit-icon {
  display: block;
  flex: none;
  margin-right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--radius-md);
  /* hash icon */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='black' stroke-opacity='0.4' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: 0.85rem;
  .dark & {
    border: 1px solid var(--color-gray-700);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='white' stroke-opacity='0.75' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      border: 1px solid var(--color-gray-700);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='white' stroke-opacity='0.75' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit--Parent .DocSearch-Hit-icon {
  /* book icon */
  background-size: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 5.5C14.2111 5.5 14.8875 5.64845 15.5 5.91604V13.916C14.8875 13.6484 14.2111 13.5 13.5 13.5C12.1373 13.5 10.9019 14.0452 10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928C10.9019 6.04516 12.1373 5.5 13.5 5.5Z' fill='white' fill-opacity='0.3'/%3E%3Cpath d='M10 14.9293C10.9019 14.0452 12.1373 13.5 13.5 13.5C14.2111 13.5 14.8875 13.6484 15.5 13.916V5.91604C14.8875 5.64845 14.2111 5.5 13.5 5.5C12.1373 5.5 10.9019 6.04516 10 6.92928M10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928M10 14.9293V6.92928' stroke='black' stroke-opacity='0.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 5.5C14.2111 5.5 14.8875 5.64845 15.5 5.91604V13.916C14.8875 13.6484 14.2111 13.5 13.5 13.5C12.1373 13.5 10.9019 14.0452 10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928C10.9019 6.04516 12.1373 5.5 13.5 5.5Z' fill='none' fill-opacity='0.3'/%3E%3Cpath d='M10 14.9293C10.9019 14.0452 12.1373 13.5 13.5 13.5C14.2111 13.5 14.8875 13.6484 15.5 13.916V5.91604C14.8875 5.64845 14.2111 5.5 13.5 5.5C12.1373 5.5 10.9019 6.04516 10 6.92928M10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928M10 14.9293V6.92928' stroke='white' stroke-opacity='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 5.5C14.2111 5.5 14.8875 5.64845 15.5 5.91604V13.916C14.8875 13.6484 14.2111 13.5 13.5 13.5C12.1373 13.5 10.9019 14.0452 10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928C10.9019 6.04516 12.1373 5.5 13.5 5.5Z' fill='none' fill-opacity='0.3'/%3E%3Cpath d='M10 14.9293C10.9019 14.0452 12.1373 13.5 13.5 13.5C14.2111 13.5 14.8875 13.6484 15.5 13.916V5.91604C14.8875 5.64845 14.2111 5.5 13.5 5.5C12.1373 5.5 10.9019 6.04516 10 6.92928M10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928M10 14.9293V6.92928' stroke='white' stroke-opacity='0.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
    }
  }
}

.DocSearch-Hit-icon svg {
  display: none;
}

.DocSearch-Hit-content-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column-reverse;
  min-width: 0;
  z-index: 1;
}

.DocSearch-Hit-path {
  align-self: flex-start;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--color-gray-700);

  .dark & {
    color: var(--color-gray-400);
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      color: var(--color-gray-400);
    }
  }
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-icon {
  background-size: 0.85rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* hash icon */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.75 1v10M8.25 1v10M1 3.75h10M1 8.25h10' stroke='%23fff' stroke-width='1' stroke-linecap='round'/%3E%3C/svg%3E");
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit--Parent .DocSearch-Hit-icon {
  /* book icon */
  background-size: 1.25rem;
  background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 5.5C14.2111 5.5 14.8875 5.64845 15.5 5.91604V13.916C14.8875 13.6484 14.2111 13.5 13.5 13.5C12.1373 13.5 10.9019 14.0452 10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928C10.9019 6.04516 12.1373 5.5 13.5 5.5Z' fill='white' fill-opacity='0.3' style='fill:white;fill-opacity:0.3;'/%3E%3Cpath d='M10 14.9293C10.9019 14.0452 12.1373 13.5 13.5 13.5C14.2111 13.5 14.8875 13.6484 15.5 13.916V5.91604C14.8875 5.64845 14.2111 5.5 13.5 5.5C12.1373 5.5 10.9019 6.04516 10 6.92928M10 14.9293C9.09812 14.0452 7.86273 13.5 6.5 13.5C5.7889 13.5 5.11246 13.6484 4.5 13.916V5.91604C5.11246 5.64845 5.7889 5.5 6.5 5.5C7.86273 5.5 9.09812 6.04516 10 6.92928M10 14.9293V6.92928' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");
}

.DocSearch-Hit-title {
  @apply truncate leading-6 text-gray-700 dark:text-gray-400;
}

.DocSearch-Hit-title + .DocSearch-Hit-path {
  @apply mb-1;
}

.DocSearch-Hit-action {
  @apply ml-3.5 flex-none;
}

.DocSearch-Hit--Result {
  .DocSearch-Hit-action svg {
    @apply hidden;
  }

  .DocSearch-Hit-action {
    height: --spacing(6);
    width: --spacing(6);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='black' stroke-opacity='0.5' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    .dark & {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='white' stroke-opacity='0.5' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    @media (prefers-color-scheme: dark) {
      .system & {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='white' stroke-opacity='0.5' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }

  [aria-selected="true"] & .DocSearch-Hit-action {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  .DocSearch-Hit[aria-selected="true"] & .DocSearch-Hit-path {
    color: var(--color-white);
  }

  .DocSearch-Hit[aria-selected="true"] & .DocSearch-Hit-title {
    color: var(--color-white);
  }
}

.DocSearch-Hit-action-button {
  display: flex;
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  margin-left: calc(var(--spacing) * 2);
}

.DocSearch-Hit-action path {
  stroke-width: 2px;
  stroke: #71717a;
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit-action path {
  stroke: white;
}

.DocSearch-Hit > a {
  display: block;
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 4);
}

.DocSearch-Hit--Result {
  padding-inline: calc(var(--spacing) * 4) !important;
  padding-block: calc(var(--spacing) * 3) !important;
}

.DocSearch-Hit {
  position: relative;
}

.DocSearch-Hit:first-child > a {
  border-top-style: var(--tw-border-style);
  border-top-width: 1px;
  border-color: var(--color-gray-100);
  .dark & {
    border-color: color-mix(in oklab, var(--color-gray-200) 5%, transparent);
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      border-color: color-mix(in oklab, var(--color-gray-200) 5%, transparent);
    }
  }
}

.DocSearch-Hit--Result {
  border-top-width: 0px !important;
}

.DocSearch-Hit + .DocSearch-Hit .DocSearch-Hit--Result {
  margin-top: calc(var(--spacing) * 2);
}

.DocSearch-Hit--Result {
  border-radius: var(--radius-lg);
  background-color: var(--color-gray-50);
  @media (prefers-color-scheme: dark) {
    .system & {
      background-color: color-mix(in oklab, var(--color-gray-700) 30%, transparent);
    }
  }
  .dark & {
    background-color: color-mix(in oklab, var(--color-gray-700) 30%, transparent);
  }
}

.DocSearch-Hit[aria-selected="true"] > a {
  @apply bg-gray-50 dark:bg-gray-700/[0.16];
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit--Result {
  @apply bg-sky-500 dark:bg-sky-600;
}

.DocSearch-Hit--FirstChild::before {
  top: calc(var(--spacing) * 0) !important;
}

.DocSearch-Hit--LastChild::before {
  bottom: calc(var(--spacing) * 0) !important;
}

.DocSearch-Hits mark {
  background: none;
  @apply border-b-2 border-sky-300 font-semibold text-sky-600 dark:border-0 dark:text-white;
}

.DocSearch-Hit-path mark {
  border-width: 0px;
}

.DocSearch-Hit[aria-selected="true"] mark {
  color: inherit;
  border-bottom-color: currentColor;
}

.DocSearch-Footer {
  @apply flex flex-none justify-end border-t border-gray-100 px-6 py-4 dark:border-gray-200/5;
}

.DocSearch-Commands {
  display: none;
}

.DocSearch-Logo a {
  @apply flex items-center text-xs font-medium text-gray-400 dark:text-gray-600;
}

.DocSearch-Label {
  @apply text-gray-400 dark:text-gray-400;
}

.DocSearch-Logo svg {
  @apply ml-2;
}
.DocSearch-Logo svg * {
  @apply ml-3 fill-gray-400 dark:fill-gray-400;
}

.DocSearch-Hit--deleting,
.DocSearch-Hit--favoriting {
  opacity: 0;
  transition: all 250ms linear;
}

.DocSearch-NoResults .DocSearch-Screen-Icon {
  display: none;
}

.DocSearch-Title {
  margin-bottom: calc(var(--spacing) * 10);
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));
  --tw-leading: calc(var(--spacing) * 6);
  line-height: calc(var(--spacing) * 6);
}

.DocSearch-Title strong {
  @apply font-normal text-gray-900 dark:text-gray-200;
}

.DocSearch-StartScreen .DocSearch-Help {
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 16);
  text-align: center;
  color: var(--color-gray-400);
}

.DocSearch-NoResults {
  padding-inline: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 10);
  padding-bottom: calc(var(--spacing) * 8);
}

.DocSearch-NoResults .DocSearch-Title {
  text-align: center;
  color: var(--color-gray-400);
}

.DocSearch-NoResults-Prefill-List .DocSearch-Help {
  @apply mb-3 text-sm leading-6 font-semibold text-gray-900 dark:text-gray-200;
}

.DocSearch-NoResults-Prefill-List ul {
  @apply overflow-hidden rounded-lg border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-700/30;
}

.DocSearch-NoResults-Prefill-List button {
  padding: 0.5rem 0.75rem;
  display: block;
  width: 100%;
  text-align: left;
  font-size: theme("fontSize.sm");
  line-height: theme("lineHeight.6");
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11 9 3 3-3 3' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;

  @apply text-gray-700 dark:text-gray-400 dark:hover:bg-white/[0.02] dark:hover:text-gray-200;
}

.DocSearch-NoResults-Prefill-List li + li button {
  @apply border-t border-gray-200 dark:border-gray-200/5;
}

.DocSearch-NoResults-Prefill-List + .DocSearch-Help {
  margin-top: calc(var(--spacing) * 3);
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
  --tw-leading: calc(var(--spacing) * 6);
  line-height: calc(var(--spacing) * 6);
}

.DocSearch-NoResults-Prefill-List + .DocSearch-Help a {
  @apply font-semibold text-sky-500 dark:text-sky-400;
}

.DocSearch-Hit-action [title="Save this search"],
.DocSearch-Hit-action [title="Remove this search from history"],
.DocSearch-Hit-action [title="Remove this search from favorites"] {
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.DocSearch-Hit-action [title="Save this search"] svg,
.DocSearch-Hit-action [title="Remove this search from history"] svg,
.DocSearch-Hit-action [title="Remove this search from favorites"] svg {
  display: none;
}

.DocSearch-Hit-action [title="Save this search"] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='black' stroke-opacity='0.25' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='white' stroke-opacity='0.25' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='white' stroke-opacity='0.25' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit-action [title="Save this search"]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' stroke='%230ea5e9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.DocSearch-Hit-action [title="Remove this search from history"] {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2394A3B8' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2364748b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2364748b' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit-action [title="Remove this search from history"]:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='black' stroke-opacity='0.75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='white' stroke-opacity='0.75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='white' stroke-opacity='0.75' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit-action [title="Remove this search from favorites"] {
  &::before {
    pointer-events: none;
    position: absolute;
    inset: calc(var(--spacing) * 0);
    background-color: var(--color-sky-50);
    content: "";
  }
  .dark &::before {
    background-color: color-mix(in oklab, var(--color-gray-700) 30%, transparent);
  }
  @media (prefers-color-scheme: dark) {
    .system &::before {
      background-color: color-mix(in oklab, var(--color-gray-700) 30%, transparent);
    }
  }
}

.DocSearch-Hit[aria-selected="true"] [title="Remove this search from favorites"]::before {
  @apply bg-sky-100 dark:bg-gray-700/40;
}

.DocSearch-Hit-action [title="Remove this search from favorites"] {
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: calc(4.5rem + 1px);
    height: 1.5rem;
    margin-left: calc(-3rem - 1px);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2394A3B8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat-y, no-repeat;
    background-position: left, center, right;
  }

  .dark &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' opacity='0.05' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2364748b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' opacity='0.05' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2364748b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit-action [title="Remove this search from favorites"]:hover {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%23475569' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  .dark &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' opacity='0.05' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2394a3b8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 5 2 5h5l-4 4 2 5-5-3-5 3 2-5-4-4h5l2-5Z' fill='%230EA5E9' stroke='%230EA5E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg width='1' height='1' fill='%23e2e8f0' opacity='0.05' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1' height='1'/%3E%3C/svg%3E"),
        url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 7 7 17M7 7l10 10' stroke='%2394a3b8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit-action + .DocSearch-Hit-action {
  margin-left: calc(var(--spacing) * 3);
  border-left-style: var(--tw-border-style);
  border-left-width: 1px;
  border-color: var(--color-gray-200);
  padding-left: calc(var(--spacing) * 3);
  @media (prefers-color-scheme: dark) {
    .system & {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  .dark & {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.DocSearch-Hit--TailwindUI .DocSearch-Hit-icon {
  background-size: 1.35rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 7.5V12.5L10 15.5M4.5 7.5L10 4.5L15.5 7.5M4.5 7.5L10 10.5M15.5 7.5V12.5L10 15.5M15.5 7.5L10 10.5M10 15.5V10.5' stroke='black' stroke-opacity='0.4' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 7.5V12.5L10 15.5M4.5 7.5L10 4.5L15.5 7.5M4.5 7.5L10 10.5M15.5 7.5V12.5L10 15.5M15.5 7.5L10 10.5M10 15.5V10.5' stroke='white' stroke-opacity='0.75' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 7.5V12.5L10 15.5M4.5 7.5L10 4.5L15.5 7.5M4.5 7.5L10 10.5M15.5 7.5V12.5L10 15.5M15.5 7.5L10 10.5M10 15.5V10.5' stroke='white' stroke-opacity='0.75' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit--TailwindUI .DocSearch-Hit-icon {
  background-size: 1.35rem;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 7.5L10 4.5L15.5 7.5V12.5L10 15.5L4.5 12.5V7.5Z' fill='white' fill-opacity='0.3' style='fill:white;fill-opacity:0.3;'/%3E%3Cpath d='M4.5 7.5V12.5L10 15.5M4.5 7.5L10 4.5L15.5 7.5M4.5 7.5L10 10.5M15.5 7.5V12.5L10 15.5M15.5 7.5L10 10.5M10 15.5V10.5' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.DocSearch-Hit--TailwindUI .DocSearch-Hit-action {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none'%3E%3Cpath stroke='black' stroke-opacity='0.5' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M6 1h3m0 0v3m0-3L5 5M3.5 1H3a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-.5'/%3E%3C/svg%3E");
  .dark & {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none'%3E%3Cpath stroke='white' stroke-opacity='0.75' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M6 1h3m0 0v3m0-3L5 5M3.5 1H3a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-.5'/%3E%3C/svg%3E");
  }
  @media (prefers-color-scheme: dark) {
    .system & {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none'%3E%3Cpath stroke='white' stroke-opacity='0.75' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M6 1h3m0 0v3m0-3L5 5M3.5 1H3a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-.5'/%3E%3C/svg%3E");
    }
  }
}

.DocSearch-Hit[aria-selected="true"] .DocSearch-Hit--TailwindUI .DocSearch-Hit-action {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M6 1h3m0 0v3m0-3L5 5M3.5 1H3a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2v-.5'/%3E%3C/svg%3E");
}
