@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

/* Global defaults for view transitions, used in DocSearch */
::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 250ms; /* existing transitions within DocSearch used 250ms, so default to that */
  animation-timing-function: theme('transitionTimingFunction.DEFAULT');
}
