@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

/* Sensible defaults for view transitions groups, which transform */
::view-transition-group(*) {
  animation-timing-function: theme('transitionTimingFunction.spring[265/500]');
  animation-duration: 500ms; /* make sure this matches the preferred duration of the spring */
}

/* Sensible defaults for the crossfading parts of a view transition */
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 265ms; /* match the perceptual duration of the default spring */
  animation-timing-function: ease;
}
