.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  @apply text-[#8ec39c];
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  @apply text-[#E3BC66];
}

.token.attr-value,
.token.class,
.token.string {
  @apply text-[#E19057];
}

.token.operator,
.token.punctuation,
.token.attr-equals {
  @apply text-[#CCCCCC];
}

.token.attr-value * {
  @apply text-sky-300;
}

.token.attr-value .attr-equals,
.token.attr-value .attr-equals + .punctuation,
.token.attr-value > .punctuation:last-child {
  @apply text-slate-500;
}

.token.property {
  @apply text-[#6587FF];
}

.token.unit {
  @apply text-teal-200;
}

.language-shell .token:not(.comment),
.token.atapply .token:not(.rule):not(.important):not(.punctuation) {
  color: inherit;
}

.language-css .token.function {
  @apply text-teal-200;
}

.token.console,
.token.method,
.token.parameter,
.token.module,
.token.combinator {
  @apply text-[#C49CCA];
}

.token.comment {
  @apply text-[#558152];
}

.token.unchanged {
  @apply block;
}

.token.deleted,
.token.inserted {
  @apply block relative -mx-4 lg:-mx-8 pl-3 lg:pl-8 pr-5 border-l-4 before:absolute before:top-0 before:left-4;
}

.token.inserted {
  @apply bg-teal-400/[0.15] border-teal-400 before:content-['+'] before:text-teal-400;
}

.token.deleted {
  @apply bg-rose-500/[0.15] border-rose-400 before:content-['-'] before:text-rose-400;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply bg-[#2B2D52] text-[#94D8FF];
}

pre[class^='language-diff-'] {
  @apply flex px-4 py-[1.625rem] lg:p-8;
}

pre[class^='language-diff-'] > code {
  @apply flex-none min-w-full;
}
